.app {
  font-family: Arial;
  font-size: 14px;
  padding: 100px;
  background: #1fa900;
  min-height: 100vh;
}

.subtitle {
  text-align: center;
  color: #666;
  margin-top: -15px;
  margin-bottom: 30px;
  font-size: 16px;
}

.input-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgb(0, 255, 183);
}

h1 {
  text-align: center;
  color: rgb(1, 6, 0);
  margin-bottom: 30px;
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
  color: #000000;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgb(0, 255, 183);
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid #0da385;
  box-sizing: border-box;
}
button {
  padding: 10px;
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.card-mini {
  padding: 10px;
  border: 1px solid #36a100;
  border-radius: 10px;
  text-align: center;
  background: #fff;
}

.list-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.scanner {
  margin-top: 10px;
}

button:disabled {
  background: #999;
  cursor: not-allowed;
}